$off-white:#f6f6f6;
$featured-color:DarkRed;

@mixin featured ($link-color:Black){
    color:Tomato;
    .subheading a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: &$link-color;
            text-decoration: underline;
        }
    }
}
.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.page-wrapper {
    padding: 21px;
    $featured-color:RoyalBlue;

    .featured {
        @include featured;
    }
    .page-content {
        background-color: $featured-color;
        padding: 42px;
        color: $off-white;

        .container {
            height: 60px !important;
            font-family: 'Courier New', Courier, monospace;

            .description {
                float: left;
                width: 75%;
            }
            .sidebar {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: right;
                float: right;
                width: 25%;
                @include featured(MintCream);
            }
        }
    }
}